<h2><a href="#/">HOME</a></h2>
<ul>
    <li>
        <a href="#/booksGroupedByLanguage&SortedByAuthor/">
            Group all books by language and sort them by author (if two books have the same author, sort by price)
        </a>
    </li>
    <li>
        <a href="#/averageBookPricePerAuthor/">
            Get the average book price for each author
        </a>
    </li>
    <li>
        <a href="#/booksInEnglishOrGermanWithPriceBelow30GroupedByAuthor/">
            Get all books in English or German, with price below 30.00, and group them by author
        </a>
    </li>
</ul>