<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Templates</title>
	<link rel="stylesheet" href="style/style.css">
	<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js"></script>
</head>
<body>
	<div id="wrapper"></div>
	<script src="script/model/tableDataModel.js"></script>
	<script src="script/model/requester.js"></script>
	<script src="script/model/studentModel.js"></script>
	<script src="script/view/tableView.js"></script>
	<script src="script/controller/controller.js"></script>
	<script src="script/app.js"></script>
</body>
</html>