<h2><a href="#/">HOME</a></h2>
<ul>
	<li>
		<a href="#/student-age/">Get all students with age between 18 and 24</a>
	</li>
	<li>
		<a href="#/first-name-before-last/">Get all students whose first name is alphabetically before their last name</a>
	</li>
	<li>
		<a href="#/from-BG-names-only/">Get only the names of all students from Bulgaria</a>
	</li>
	<li>
		<a href="#/last-5/">Get the last five students</a>
	</li>
	<li>
		<a href="#/first-3-not-BG-male/">Get the first three students who are not from Bulgaria and are male</a>
	</li>
</ul>